@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&family=Oswald:wght@500&display=swap');

:root {
    --a: #45434F;
    --b: #3A3742;
    --c: #312F38;
    --m: #D01D1D;

}
*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: var(--a);
    font-family: 'Oswald', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}

header nav {
    position: relative;
    background: white;
    display: flex;
    width: 90vw;
    border-radius: 13px;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 60%;
    background-color: white;
    justify-content: space-evenly;
    margin: 0;
}

header nav ul li a{
    background-color: white;
    font-size: 35px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

header nav ul li a:active{
    color: var(--m);
    text-decoration: none;
}

header nav .logo {
    display: flex;
    align-items: center;
}

header nav .logo img{
    height: 4rem;
    display: flex;
}

.about {
    position: relative;
    padding-top: 4rem;
    background-color: var(--black);
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    height: calc(100vh - 50px - 10rem);
}

.about .text{
    width: 50%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.about .profile{
    width: 25%;
    height: auto;
}

.about .profile img{
    width: 25rem;
    box-shadow: -30px 30px rgb(176, 173, 173);
}

.about h1{
    font-weight: bold;
    font-size: 3rem;
    color: var(--m);
    text-align: left;
    justify-content: space-around;
    height: 30vh;
    width: 30vw;
    font-size: 60px;
    padding-top:5%;
    margin-bottom: 0;
}

.about p{
    color: white;
    text-align: left;
    width: 40vw;
    font-size: 35px;
}