@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
	--light-blue: rgb(110, 203, 246);
	--blue: rgb(87, 106, 226);
	--dark-blue: rgb(42, 35, 86);
	--white: rgb(223, 217, 245);
	--pink: rgb(194, 82, 226);
    --black : rgba(3,3,15,255);
    --gray : #dedede;
    --darkgray : #a8a5b8;
    --darkergray : rgba(97,8,95,255);
    --purple : #0c051c;
    --lightpurple : #2f116b;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
    font-family: 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    color: white;
    background-color: var(--black);
	scroll-behavior: smooth;
}

h1{
	text-shadow: 0 0 10px rgb(120, 93, 130);
}



/* Header */
	header nav {
        position: relative;
		background: var(--black);
		display: flex;
		height: 50px;
		justify-content: space-between;
		align-items: center;
		padding-left: 3%;
	}

	header nav .logo {
		display: flex;
		align-items: center;
	}

	header nav .logo img{
		height: 2rem;
		display: flex;
		filter: drop-shadow(0 0 1rem var(--white));
	}

	header nav .logo h1{
		font-size: 1.2rem;
		display: flex;
		margin: 0;
		margin-left: 0.5rem;
		font-weight: 700;
		text-shadow: 0 0 1rem white;
	}

	header nav ul {
		display: flex;
		list-style: none;
		width: 80%;
		justify-content: space-evenly;
		margin: 0;
	}

	header nav ul li a{
		color: white;
		text-decoration: none;
		font-weight: 700;
		text-shadow: 0 0 1rem var(--white);
	}

	header nav ul li a:hover{
		color: var(--darkgray);
		text-decoration: none;
		animation: nav-hover 0.2s linear;
	}
	
	
	.menu-toggle{
        display: none;
        cursor: pointer;
    }

    .menu-toggle span{
        display: block;
        width: 25px;
        height: 3px;
		border-radius: 10px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        z-index: 3;
    }

	@keyframes nav-hover {
		0% {
			color:white;
		}

		100% {
			color: var(--darkgray);
		}
	}



section.gradient-header {
	position: absolute;
	z-index: 11;
	left: 0;
	top: 50px;
	width: 100%;
	height: 1.5rem;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
}

.footer-divider {
	position: relative;
	top	: 14rem;
	width: 100%;
}


.about {
    position: relative;
    padding-top: 4rem;
    background-color: var(--black);
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 50px - 10rem);
}

.about .text{
    width: 50%;
}

.about .profile{
    width: 25%;
    height: auto;
}

.about .profile img{
    width: 25rem;
    border-radius: 200px;
    box-shadow: 0 0 1rem white;
}

.about h1{
    font-weight: bold;
    font-size: 3rem;
    color: var(--gray);
    text-align: center;
    padding-top:5%;
    margin-bottom: 0;
}

.about p{
    color: var(--gray);
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.about .aboutMalamPerak{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.about .aboutMalamPerak .aboutMalamPerak-text h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--gray);
    padding-left: 10%;
    margin-bottom: 10px;
    margin-top: 0;
}


.about .aboutMalamPerak .aboutMalamPerak-text p{
    font-size: 1.2rem;
    padding: 1% 15%;
}



/* divider */

.divider-content{
    height: 10rem;
    background-image: linear-gradient(var(--black), var(--purple))
}


    @keyframes footer-hover {
        0% {
            color: var(--white);
        }
    
        100% {
            color: var(--dark-blue);
        }
    }


.divider-content2{
	height: 10rem;
	background-image: linear-gradient(var(--purple), var(--black))
}

/* content */
.content {
    position: relative;
    background-color: var(--purple);
    padding-bottom: 0.1%;
	display: flex;
	justify-content: center;
	flex-direction: column	;
}

.content h1{
    font-weight: bold;
	font-size: 2.75rem;
    color: white;
    padding-left: 5%;
    padding-bottom: 10px;
	text-align: center;
}

.content p{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:2%;
}

/* content-fill */

    .content .content-fill{
        display: flex;
        padding: 3% 0;
        width: 100vw;
        align-items: center;
    }

    .content .content-fill i{
        /* width: 240px; */
        /* height: auto; */
		font-size: 250px;
        margin-right: 0px;
        margin-left: 15%;
        border-radius: 15px;
		color: black;
        background: white;
    }

    .content .content-fill .content-text{
        padding-left: 5%;
        /* padding-right: 10%; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .content .content-fill .content-text h2{
        font-weight: bold;
        color: white;
        padding-top: 3%;
    }

    .content .content-fill .content-text p{
        color: white;
        padding-left: 0;
        padding-top:2%;
        width: 50vw;
        text-align: justify;
    }

	footer{
		height: 500px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}

	footer img{
		width: 300px;
		border-radius: 200px;
		box-shadow: 0 0 0.5rem white;
		height: auto;
	}

	footer .contact{
		margin-right:25px;
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
    
	.copy{
		text-align: center;
		background-color: #110826;
		width: 100%;
	}

	.contact h2, p{
		color: white;
	}
	.contact a{
		text-decoration: none;
	}
	


	

/* Responsive Layout */
	@media screen and (max-width : 1153px) {

		.content-text h2{
			font-size: 2.8rem;
		}

		.about {
			flex-direction: column;
			justify-content: flex-start	;
			text-align: center;
		}

		.about .profile img{
			width: 30rem;
			border-radius: 20rem;
		}
		

		.about .profile{
			width: 100%;
			height: auto;
		}

		.about .text{
			width: 95%;
		}

		.text h1{
			font-size: 5rem;
		}

        .content h1{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;
			font-size: 3.5rem;
        }

        .about .aboutMalamPerak .aboutMalamPerak-text p{
            font-size: 1.625rem;
            padding: 1% 15%;
        }

        /* content */
            .content{
                overflow-x: hidden;
				justify-content: space-between;
            }

            .content p{
                font-size: 90%;
            }

            /* live */
                .content .content-fill{
                    flex-direction: column-reverse;
                    align-items: center;
					padding: 4% 0 	;
                }

				.content .content-fill i{
                    margin-left: 0;
                }

                .content .content-fill img{
                    margin: auto;
                    width: 60%;
                    height: 60%;
                    margin-top: 5%;
                }

                .content .content-fill .content-text{
                    padding-left: 4%;
                    padding-right: 4%;
                    align-items: center;
                    /* margin: auto; */
                }


                .content .content-fill .content-text p{
                    padding-right: 0;
					padding-bottom: 1%;
                    width: 100%;
					font-size: 1.4rem;
                }

                .content .content-fill .content-text a{
                    margin: auto;
                    margin-top: 10px;
                }
	}

	@media screen and (max-width : 759px) {

		.about{
			height: auto;
		}

		.content-text h2{
			font-size: 2rem;
		}

		.text h1{
			font-size: 3rem;
		}

		.about .aboutMalamPerak .aboutMalamPerak-text p{
			font-size: 1rem;
		}

		.content h1{
			font-size: 2.8rem;
        }

		.about .profile img{
			width: 18rem;
			border-radius: 20rem;
		}

		.content .content-fill .content-text{
			width: 87.5%;
		}

		.content .content-fill .content-text p{
			font-size: 1rem;
			padding-bottom: 10px;
		}

		.content .content-fill i{
			font-size: 220px;
		}

        header nav ul.menu-nav{
            background-color: #18111f;
        }

		.menu-toggle{
			display: block;
			cursor: pointer;
		}
	
		.menu-toggle span{
			display: block;
			width: 25px;
			height: 3px;
			border-radius: 10px;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			background: var(--white);
			z-index: 3;
		}

		header nav {
			padding-left: 5%;
			padding-right: 5%;
			justify-content: space-between;
		}

		header nav ul.menu-nav{
			position: absolute;
			top: 4.5rem;
			gap: 0;
			flex-direction: column;
			background-color: var(--darkergray);
			width: 30%;
			text-align: center;
			transition: all 0.5s linear;
			display: none;
			flex-direction: column;
			justify-content: space-evenly;
			margin-left: 60%;
			height: 70vh;
			z-index: 1000;
			align-items: center;
			padding-left: 0;
		}

		header nav ul.menu-nav.active{
			display: flex;
			animation: toggle-animation 0.5s linear;
		}

		@keyframes toggle-animation {
			0%{
				opacity: 0;
			}

			100%{
				opacity: 1;
			}
		}
	}


